/* ***************************************************** */
/* Calendario */
#calendar-container {
  width: 100%;
  height: 60%;
  border-radius: 25px;
  background-color: white;
}

#calendar-title-wrapper {
  width: 100%;
  height: 10%;
  padding-top: 1%;
  font-size: x-small;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

#calendar-wrapper {
  width: 100%;
  height: 90%;
  padding-top: 1%;
  padding-bottom: 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.calendar-square-bordered{
  outline: 2px solid black !important;
}

.calendar-square {
  width: 100%;
  height: 80%;
  outline: 1px solid black;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.calendar-square-color {
  width: 100%;
  height: 66%;
  border-bottom: 1px solid black;
}

.calendar-square-text {
  width: 100%;
  height: 34%;
  text-align: center;
  font-size: xx-small;
}

.calendar-month-name{
  text-align: center;
  font-size: xx-small;
}