/* ***************************************************** */
/* Filter */
#filter-container {
  left: 0px;
  top: 0px;
  width: calc(40% - 15px);
  height: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 10px; */
  padding-left: 50px;
  overflow-x: scroll;
}

#filter-container::-webkit-scrollbar {
  display: none;
}

#filter-container .filter-input {
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

#filter-container .select2-selection--multiple {
  overflow: scroll !important;
  max-height: 70px !important;
  border: 2px solid black !important; 
}

#filter-container .select2-selection--multiple::-webkit-scrollbar {
  display: none;
}

#filter-container .select2-selection__choice{
  height: 20px;
  box-sizing:content-box;
  font-size: smaller;
}

#filter-container #container-date-datatype-labels {
  width: 100%;
  margin-top: 20px;
  display: flex;
  /* justify-content: ; */
}

#filter-container #label-date {
  width: 75%;
}

#filter-container #label-datatype {
  width: 25%;
}

#filter-container #container-date-datatype {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-container #container-date {
  width: 70%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#filter-container #container-datatype {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filter-container #input-date0, #input-date1{
  width: 42%;
  font-size: small;
  text-align: center;
  padding-left: 2px;
}

#filter-container #input-aggregation {
  width: 40%;
}

#filter-container #filter-button {
  position: absolute;
  bottom: 10px;
  width: 25%;
}

#filter-container #save-note-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: fit-content;
}

#filter-container #list-note-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: fit-content;
}

#filter-container .hover-icon{
  cursor: pointer;
}

#filter-container .hover-icon:hover {
  opacity: 0.7;
}

#filter-container .hover-icon:active {
  opacity: 0.5;
}

.draggable{
  position: absolute;
}

#save-note-modal{
  position: absolute;
  height: fit-content;
  width: 40%;
  top: 30%;
  bottom: 40%;
  left: 30%;
  right: 30%;
  z-index: 9;
}

#save-note-modal .modal-dialog{
  width: 100%;
  height: fit-content;
  margin: 0 !important;
}

#save-note-modal .modal-header{
  cursor: move;
}

.redo-search {
  cursor: pointer;
}

/* ***************************************************** */
/* Sidebar */
#offcanvas {
  background-color: whitesmoke;
}

.sidebar-icon {
  position: absolute;
  padding: 0;
  width: fit-content;
  height: fit-content;
}

#sidebar-icon-open {
  left: 0px;
  top: 5px;
}

.sidebar-item{
  background-color: inherit;
  cursor: pointer;
}

.sidebar-header{
  background-color: #198754;
}

#offcanvas .list-group-item:hover{
  background: rgb(223, 223, 223);
  color: inherit;
}