html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #198754;
}

body::-webkit-scrollbar {
  display: none;
}







#dashboard-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-row{
  width: 100vw;
  height: 50vh;
  background-color: inherit;
  display: flex;
  flex-direction: row;
}

#dashboard-top-row{
  display: grid;
  padding: 10px 10px 5px 10px;
  column-gap: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 4fr 1fr 5fr;
  grid-template-areas: 
  "f c h"
}

#dashboard-bottom-row{
  display: grid;
  padding: 5px 10px 10px 10px;
  column-gap: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "m1 m2"
}





















.blured {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  filter: blur(5px);
  -o-filter:blur(5px);
  -ms-filter:blur(5px);
  -moz-filter:blur(5px);
  -webkit-filter:blur(5px);
  pointer-events: none;
}

.container {
  border-radius: 25px;
  background-color: white;
}

.hidden {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 00.3s ease;
  transition: all 0.3s ease;
  display: none;
}

.cursor-pointer{
  cursor: pointer;
}















/* ***************************************************** */
/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track e Buttons */
/* ::-webkit-scrollbar-track {
  background: lightblue;
} */

::-webkit-scrollbar-corner {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

