html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #198754;
}

body::-webkit-scrollbar {
  display: none;
}

.blured {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  filter: blur(5px);
  -o-filter:blur(5px);
  -ms-filter:blur(5px);
  -moz-filter:blur(5px);
  -webkit-filter:blur(5px);
  pointer-events: none;
}

.container {
  margin: 10px;
  border-radius: 25px;
  background-color: white;
  position: absolute;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
}

.hidden {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 00.3s ease;
  transition: all 0.3s ease;
  display: none;
}

/* ***************************************************** */
/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track e Buttons */
/* ::-webkit-scrollbar-track {
  background: lightblue;
} */

::-webkit-scrollbar-corner {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

