html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  /* background-color: rgb(163, 230, 196); */
  background-color: white;
  /* background: linear-gradient(to top right, lightblue 67%, #000066 100%); */
}

.container {
  position: absolute;
  width: 50%;
  height: 50%;
}

/* ***************************************************** */
/* Map  */
#map-container {
  right: 0px;
  top: 0px;
  width: 50%;
  height: 50%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.tooltip {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 25px;
  text-shadow: #f5f5f5 0 1px 0;
  padding: .5em;
  opacity: 0.9;
  position: absolute;
  font-size: small;
  max-width: 500px;
}

.city {
  stroke: #000;
  stroke-width: 0.4px;
  fill: white;
}

.city:hover {
  fill: gray;
}

.city:active {
  fill: black;
}

.city-active {
  fill: blue;
}

.city-active:hover {
  fill: lightskyblue;
}

.city-active:active {
  fill: lightblue;
}
/* ***************************************************** */
/* Filter */
#filter-container {
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  overflow-x: scroll;
}

#filter-container::-webkit-scrollbar {
  display: none;
}

#filter-container .filter-input {
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

#filter-container .select2-selection--multiple {
  overflow: scroll !important;
  max-height: 80px !important;
  border: 2px solid black !important; 
}

#filter-container .select2-selection--multiple::-webkit-scrollbar {
  display: none;
}

#filter-container .select2-selection__choice{
  height: 20px;
}

#filter-container #container-date-aggregation {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#filter-container #container-date-aggregation-labels {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#filter-container #input-date0, #input-date1{
  width: 42%;
}

#filter-container #input-aggregation {
  width: 40%;
}

#filter-container #filter-button {
  position: absolute;
  bottom: 10px;
  width: 25%;
}
/* ***************************************************** */
/* Horizon */
#horizon-container {
  right: 0px;
  bottom: 0px;
  width: 100%;
}

#horizonoptions-wrapper{
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#horizonband-wrapper, #horizonsort-wrapper {
  width: 50%;
  align-items: center;
  padding: 10px;
}

#horizon-wrapper {
  width: 99%;
  height: 90%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  overflow: scroll;
}

span.label{
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 2px white;
}

.horizon-tooltip {
  word-break: break-word !important;
  /* width: 500px; */
}

.slider {
  margin-left: 10%;
  width: 80%;
  height: 100%;
}

.sort-icon {
  cursor: pointer;
}

#sort-dec {
  margin-left: 100px;
}

#sort-asc {
  margin-left: 10px;
}
/* ***************************************************** */
/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track e Buttons */
/* ::-webkit-scrollbar-track {
  background: lightblue;
}

::-webkit-scrollbar-corner {
  background: lightblue;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}